@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-bg-color: #1d563d;
  --primary-banner-bg-color: #d0e0da;
}

.bg-color-made {
  background-color: var(--primary-bg-color);
}

.txt-main-color {
  color: var(--primary-bg-color);
}

.banner-bg-color {
  background-color: var(--primary-banner-bg-color);
}

.gradient-color-first {
  background-image: linear-gradient(180deg, #00a76f, #1b7048);
}

.gradient-color-second {
  background-image: linear-gradient(180deg, #ffd45a, #ffab00);
}

.gradient-color-third {
  background-image: linear-gradient(180deg, #ffb177, #ff6d00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media only screen and (max-width: 1000px) {
  .hide-item {
    display: none;
  }

  .expand-item {
    width: 100%;
    justify-items: center;
  }
}

:root {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
